<div class="upload" style="float:left;">
<iframe id="upload_frame" name="upload_frame" frameborder="0" src="" style="width: 0px; height: 0px;"></iframe>
<%= form_for(@user, :html=> {:multipart => true ,:target=>"upload_frame"}) do |f|%>
  <%= hidden_field_tag :uuid, @user.uuid, :class=>'uuid'  %>
  <%= f.file_field :file %>
<% end -%>
<div class="meter-wrap">
  <div class="meter-value" style="background-color: #0a0; width: 0%;">
    <div class="meter-text" id="progress">
      0%
    </div>
  </div>
</div>

<%= form_for(@user, :remote=>true, :html => {:class=>'comment'}) do |f| %>
  <%= hidden_field_tag :uuid, @user.uuid, :class=>'uuid' %>
  <%= f.text_area :comment %><br/>
  <%= f.submit 'Save comment &rarr;'.html_safe, :class=>'fr' %>
<% end -%>

</div>
<div style="float:left;">
<h1>Uploaded files</h1>
<table>
  <thead>
    <th>Filename</th>
    <th>Comment</th>
  </thead>
  <tbody id="users">
    <%= render @users %>
  </tbody>
</table></div>